<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HueHue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <HueHue.Properties.Settings>
            <setting name="COM_PORT" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="CurrentMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLeds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="LastColor" serializeAs="String">
                <value />
            </setting>
            <setting name="BreathDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Random" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Breath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastColorTwo" serializeAs="String">
                <value />
            </setting>
        </HueHue.Properties.Settings>
    </userSettings>
</configuration>
