<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HueHue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HueHue.Properties.Settings>
            <setting name="COM_PORT" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="LedsPerSpot" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CorrentMode" serializeAs="String">
                <value>FixedColor</value>
            </setting>
            <setting name="AmountOfLEDS" serializeAs="String">
                <value>90</value>
            </setting>
        </HueHue.Properties.Settings>
    </userSettings>
</configuration>