<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HueHue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <HueHue.Properties.Settings>
            <setting name="COM_PORT" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="CurrentMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLeds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BreathDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Random" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Breath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Saturation" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Lightness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="JoystickMultipleButtons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JoystickUseDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JoystickSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BreathRandomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicUseAverages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicUseLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicScaleStrategy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicFFTSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicPointCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MusicSampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicChannels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicDeviceCode" serializeAs="String">
                <value />
            </setting>
        </HueHue.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
